.App {
  text-align: center;
  height: 100%;
}

.page {
  display: block;
}

.card {
  display: flex;
  padding: auto;
  margin: auto;
  box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -webkit-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -moz-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  border-color: rgb(255, 255, 255);
}

.board, .interface {
  display: inline-block;
  margin: 20px 10px;
  vertical-align: top;
  text-align: center;
}

.board-container {
  margin: auto;
}

.board-row {
  display: block;
  margin: auto;
}