.App {
  text-align: center;
  height: 100%;
  background-color: #F8F5F1;
}

.page {
  display: block;
  background-color: #F8F5F1;
}

.card {
  display: flex;
  padding: auto;
  margin: auto;
  box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -webkit-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -moz-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  border-color: #F8F5F1;
  background-color: #F8F5F1;
}

.board, .interface {
  display: inline-block;
  margin: 20px 10px;
  margin-bottom: 0;
  vertical-align: top;
  text-align: center;
}