li.list-group-item {
  padding: auto;
  border: 0;
  background-color: #F8F5F1;
}

.interface-card {
  min-height: 323px;
}

p {
  display: flex;
  text-align: left;
  margin: 0px;
  color: #343F56;
}

.control-btn {
  display: flex;
}

.btn-col-start {
  padding: 0;
  padding-right: 10px;
}

.btn-col-clear {
  padding: 0;
  padding-left: 10px;
}

.row {
  margin: 0px;
}

.btn-outline-dark {
  border-color: #343F56 !important;
  color: #343F56;
}

.start-row {
  margin-top: 22px;
}

#preset-btn-radio {
  padding: 0;

}

#preset-btn {
  border: 0;
  width: 100%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[type=radio]:checked + .btn-outline-dark {
  background-color:#343F56;
}

#preset-btn:hover {
  background-color: #343F56;
}

.dropdown-toggle:focus {
  background-color: #343F56;
}

.btn-success {
  background-color: #387C6D;
  border-color: #387C6D;
}
/* .btn-success:hover {
  background-color: #7896a5 !important;
  border-color: #7896a5 !important;
}

.btn-success:focus {
  background-color: #7896a5 !important;
  border-color: #7896a5 !important;
} */

.btn-danger {
  background-color: #E9896A;
  border-color: #E9896A;
}