.node {
  border: 1px solid rgba(61, 60, 66, 0.2);
  display: inline-block;
  padding: 0;
  border-collapse: collapse;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.wall {
  background-color: #343F56;
}

.unvisited {
  background-color: #F8F5F1;
}

.start {
  background-color: #387C6D;
}

.end {
  background-color: #E9896A;
}

.path {
  animation-name: pathAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node:hover {
  opacity: 0.1;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(1);
    background-color: #FFE0AC;
  }
  
  50% {
    transform: scale(1);
    background-color: #FFE0AC;
  }

  60% {
    transform: scale(0.5);
    background-color: #FCF8E8;
    border-radius: 25%;
  }

  75% {
    transform: scale(0.7);
    background-color: rgba(56, 124, 109,0.4);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(56, 124, 109,0.4);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(1);
    background-color: white;
  }

  50% {
    transform: scale(1);
    background-color: #FCF8E8;
  }

  100% {
    transform: scale(1);
    background-color: #FFE0AC;
  }
}